<div class="center hero-unit">
  <h1>Framgia testing system</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Framgia test system</a>
    beta version.
  </h2>
  
</div>