  <h1> Answer Sheet </h1>
  <h2> <%= @answer_sheet.exam.name %> in <%= @answer_sheet.exam.subject.name %> </h2>

  There are <%= @answer_sheet.questions.length %> questions.
  <ol class="questions">
    <% @answer_sheet.questions.zip(@answer_sheet_details).each do |question, answer_details| %>
      <%= render partial: "questions/question", 
        :locals => {:question => question, :answer_details => answer_details, :answers => question.answers} %>
    <% end %>
  </ol>