<% # @title = @user.name %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <% #gravatar_for @user %>
        <%= @user.name %>
        <br>
        <%= @user.email %>
      </h1>
    </section>
  </aside>

  <h1 style="text-align:left;"> All Exams </h1>
  <aside class="span8 offset4">
    <% if @answer_sheets.any? %>
      <ol class="answer_sheets">
        <%= render @answer_sheets %>
      </ol>
    <% end %>
  </aside>
</div>
