<div>
<%= question.content %>
<br>
<% answers.each do |answer| %>
  <%= radio_button_tag("choices" + answer.id.to_s, 1, answer.correct_answer == 1, :readonly => @readonly) %> <%= answer.content %> <br>
<% end %>
</div>